@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

body {
  background: #3498db;
  width: 100%;
  height: 100%;
}

.login-form {
  width: 330px;
  height: 420px;
  background-color: #ecf0f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 40px;
  border-radius: 10px;
  overflow: hidden;
}

.form {
  padding-bottom: 45px;
  min-height: 420px;
  transition: 0.5s;
}

.form .cta {
  color: #3498db;
  font-size: 0.85em;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  transition: 0.3s;
}

.form .cta:hover {
  text-decoration: underline;
}

.form h1 {
  color: #3498db;
  font-size: 1.6em;
  font-weight: 600;
  margin: 30px 0 25px 0;
}

.input-text {
  position: relative;
  height: 50px;
  margin-bottom: 12px;
  /* overflow: hidden; */
}

.input-text label {
  position: absolute;
  bottom: 50%;
  left: 30px;
  transform: translateY(50%);
  font-size: 0.8em;
  color: #57a1d3;
  font-weight: 300;
  z-index: 1;
  transition: 0.3s;
}

.input-text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  overflow-x: hidden;
  background: linear-gradient(to right, #3498db, #1abc9c);
  left: 0;
  bottom: 0;
}

.input-text input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  transition: 0.3s;
  padding-left: 30px;
  position: relative;
  z-index: 2;
  color: #3498db;
}

.input-text i {
  color: #3498db;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}

.label-up {
  transform: translateY(-110%) !important;
  left: 0;
  display: block;
  font-size: 0.7em !important;
}

.input-text input:focus {
  border-bottom: 1.5px solid #3498db;
  outline: #3498db;
}

.input-text input:focus > label {
  background: #3498db;
}

.btn {
  margin-top: 25px;
  border-radius: 2px;
  display: block;
  background: linear-gradient(to bottom right, #3498db, #1abc9c);
  width: 100%;
  padding: 10px 0;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
}

.btn:hover {
  transition: 0.3s;
  background: linear-gradient(to top left, #3498db, #1abc9c);
}

.alert {
  position: fixed;
  font-size: 0.8em;
  top: 60px;
  right: 100px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(200%);
  transition: 0.3s;
}

.alert-success {
  background-color: #2ecc71;
  color: #ecf0f1;
}

.alert-failed {
  background-color: #e74c3c;
  color: #ecf0f1;
}

.disabled-button {
  color: #2c3e50 !important;
  background: #bdc3c7 !important;
}

.messageNotif {
  margin-bottom: 5px;
}

.closeNotif {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  bottom: -60%;
  right: 0;
}

.showNotif {
  transform: translateX(0);
}

/* Style for home page */
.home {
  width: 330px;
  height: 420px;
  background-color: #ecf0f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 40px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 40px;
}

.home .heading {
  margin-bottom: 50px;
  color: #3498db;
}

.heading h2,
.heading h4 {
  font-weight: 500;
  text-transform: uppercase;
}

.heading h2 {
  position: relative;
}
.heading h2::after {
  position: absolute;
  content: '';
  width: 50%;
  bottom: -10px;
  left: 0;
  height: 3px;
  background-color: #3498db;
}

.heading h4 {
  margin-bottom: 10px;
}

.quotes {
  color: #3498db;
}

.quotes p {
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

.quotes small {
  display: block;
  margin-bottom: 50px;
}

/* skeleton */

.h4-skeleton::before,
.h2-skeleton::before,
.p-skeleton::before,
.small-skeleton::before,
.btn-skeleton::before {
  background-color: #bdc3c7;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  /* animation: splash 2s ease 0s infinite; */
  animation: run 1.5s ease-in-out 0s infinite;
}

.h4-skeleton,
.h2-skeleton,
.p-skeleton,
.small-skeleton,
.btn-skeleton {
  background-color: #95a5a6;
  border-radius: 3px;
  animation: splash 2s ease 0s infinite;
}

.h4-skeleton {
  width: 100px;
  height: 25px;
  position: relative;
}

.h2-skeleton {
  width: 100%;
  height: 30px;
  position: relative;
}

.h2-skeleton::after {
  position: absolute;
  content: '';
  width: 50%;
  bottom: -10px;
  left: 0;
  height: 3px;
  background-color: #bdc3c7 !important;
  z-index: 10;
}

.p-skeleton {
  position: relative;
  width: 100%;
  height: 100px;
}

.small-skeleton {
  position: relative;
  width: 50%;
  height: 20px;
}

.btn-skeleton {
  position: relative;
  height: 40px;
  width: 100%;
}

@keyframes splash {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes run {
  0% {
    width: 100%;
    height: 100%;
  }
  34% {
    width: 0%;
    height: 100%;
  }
  66% {
    width: 100%;
    height: 100%;
  }
}
